<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-master-details-heading"
        data-cy="MasterDetailsCreateUpdateHeading"
        jhiTranslate="microApp.masterDetails.home.createOrEditLabel"
      >
        Create or edit a Master Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microApp.masterDetails.balance" for="field_balance">Balance</label>
          <input type="number" class="form-control" name="balance" id="field_balance" data-cy="balance" formControlName="balance" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microApp.masterDetails.totalUnits" for="field_totalUnits">Total Units</label>
          <input
            type="number"
            class="form-control"
            name="totalUnits"
            id="field_totalUnits"
            data-cy="totalUnits"
            formControlName="totalUnits"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microApp.masterDetails.aum" for="field_aum">Aum</label>
          <input type="number" class="form-control" name="aum" id="field_aum" data-cy="aum" formControlName="aum" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microApp.masterDetails.createdOn" for="field_createdOn">Created On</label>
          <div class="input-group">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="text"
              class="form-control"
              name="createdOn"
              ngbDatepicker
              #createdOnDp="ngbDatepicker"
              formControlName="createdOn"
            />
            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
